<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/add.css">
    <title>Add Products Type</title>
</head>
<body>
    <form method="POST" action="{{ url_for('add_data', data_type='products_type') }}">
        <h2>Thêm loại sản phẩm</h2>

        <label for="type_products">Loại sản phẩm: </label>
        <input type="text" name="type_products" required>

        <button type="submit">Lưu</button>
    </form>
</body>
</html>
